/************************
Basic Page Style
************************/
body {
    font-size: 15px;
    padding-top: 50px;
    background-color: lightskyblue;
    margin-top: 10px;
}
.sauraha-wrapper {
    margin-top: 50px;
    margin-bottom: 5px;
    min-height: 750px;
}

.navbar{
    resize: 20px;
    color: chocolate;
}


/************************
        indexhtml
************************/
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
 .iframe-container > * {
    display: block;
    position: absolute;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.jumbotron p {
    text-align: center;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 5px;
}
.jumbotron {
    margin-bottom: auto;
    background-color: aquamarine;
}
/************************
 End indexhtml
************************/





/************************
    Carousel
************************/
.peopleCarouselImg img {
    max-width: 100%;
    width: 50px;
    height: 100%;
}

.carousel-inner > .item img {
    height: 60vh;
    width: 100%;
    overflow: hidden;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-indicators .active {
    background-color: #222;
}
.carousel-indicators li {
    border-color: #222;
}

/************************
        End carousel
************************/





/***************************
       Footer
***************************/
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 0px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
/* Footer left */


.footer-distributed .footer-left {
    width: 10%;
}
/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
.footer-distributed h3 span {
    color: #5383d3;
}
/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}
.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons {
    margin-top: 25px;
}
.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (min-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        align-content: center;
    }
   
}
/***************************
    End Footer
***************************/







/***************************
    Contact Page
***************************/

.header {
    background-color: rgba(245, 245, 245, 0.31);
    color: #36A0FF;
    height: 70px;
    font-size: 27px;
    padding: 10px;
    text-align: center;
}

h1{
    text-align: center;
}
/***************************
    End Contact Page
***************************/





s

/***************************
    Attraction.html Page
***************************/
h5{
    
    font: normal 50px 'Cookie', cursive;
    margin-top:0px;
    text-align: center;
    
}

/***************************
    End Attraction.htmlPage
***************************/







/***************************
    photo.html Page
***************************/
#photo-header{
    font: oblique 30px;
    margin:auto;
    text-align: center;
    color: blue;  
}

.image {
    width: 180px;
    height: 150px;
    text-align: justify;
    margin:auto;   
}
.gallery img:hover{
    filter: grayscale(0);
}
/***************************
    End photo.htmlPage
***************************/







/***************************
    Attraction Page
***************************/

.photos {
    max-width: 80%;
    width: auto;
    height:auto;
    text-align: justify;
    margin:auto; 
    margin-top: auto;
}

.attraction-header{
    text-align: center;
}

/***************************
    End Attraction.htmlPage
***************************/






